DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=fabianopolone.com.br,www.fabianopolone.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://fabianopolone.com.br,https://www.fabianopolone.com.br
DJANGO_FORCE_SCRIPT_NAME=/OrcamentoNeevy
DJANGO_STATIC_ROOT=/var/www/site_samela_faculdade/staticfiles
DJANGO_SESSION_COOKIE_SECURE=true
DJANGO_CSRF_COOKIE_SECURE=true
DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=seu_gmail@gmail.com
DJANGO_EMAIL_HOST_PASSWORD=sua_senha_de_app
DJANGO_EMAIL_USE_TLS=true
DJANGO_DEFAULT_FROM_EMAIL=seu_gmail@gmail.com
